加盖报名学校公章的纸质报名表
报名表可在大赛网站下载



参赛队员身份证明信息
（身份证复印件或学生证复印件、指导教师身份证复印件）



参赛作品
（原代码、可执行文件、相关文档）



演示视频
（格式不限，时间尽量控制在7分钟以内）



电子报名表

文档要求
概要设计说明书（描述软件系统架构、逻辑架构、物理架构、部署结构、功能架构及关键技术，关键业务模块需通过UML图进行详细描述，列出使用的第三方包（包括原因，目的，实现的功能）,列出数据获取的来源）、需求规格说明书（包括功能设计、非功能性设计、系统用例）；
 
测试要求
需进行单元测试，提供单元测试用例；提供相关测试报告；